<!--
  Generated template for the ProgramPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="sanyuka">
    <ion-title>Program Guide</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content>


    <ion-list>

      <ion-item   style="background-color:#efeaea;" >
        <!-- <ion-item *ngFor="let post of posts" style="background-color:#fbb99a;" > -->

        <!-- <img [src]="post.data.id" /> -->

        <!-- test for the feeds -->

          <ion-item style="background-color:#ebebeb;" text-wrap>
            <ion-avatar item-start>
              <!-- <img src="img/marty-avatar.png"> -->
              <!-- <button ion-button icon-only class="image"><ion-icon name="car"></ion-icon></button> -->
              <button ion-button icon-only class="image">
                <img src="assets/img/sanyuka1.jpg" >
              </button>
            </ion-avatar>
            <h2>Kampala accident</h2>

            <h3 style="font-size:10px;font-family:futura-pt, sans-serif;font-style: regular;font-weight: 500;">more title | another here | other info</h3>
              <p>Theres has been a road accident in kamapala..</p>
          </ion-item>

          <!-- <img src="assets/img/badu-live.png"> -->




          <hr>
          <ion-row>
            <ion-col col-5>
              <button ion-button icon-left clear small>
                <ion-icon name="calendar"></ion-icon>
                <div>Published:</div>
              </button>
            </ion-col>

            <ion-col col-5>
              <button ion-button icon-left clear small>
                <ion-icon name="clock"></ion-icon>

                <div>Updated:</div>
              </button>

            </ion-col>

            <ion-col col-2>
              <button ion-button icon-left clear small>
                <ion-icon name="share"></ion-icon>
                </button>

            </ion-col>


          </ion-row>





        <!-- close test for feeds -->


      </ion-item>
      <ion-item   style="background-color:#efeaea;" >
        <!-- <ion-item *ngFor="let post of posts" style="background-color:#fbb99a;" > -->

        <!-- <img [src]="post.data.id" /> -->

        <!-- test for the feeds -->

          <ion-item style="background-color:#ebebeb;" text-wrap>
            <ion-avatar item-start>
              <!-- <img src="img/marty-avatar.png"> -->
              <!-- <button ion-button icon-only class="image"><ion-icon name="car"></ion-icon></button> -->
              <button ion-button icon-only class="image">
                <img src="assets/img/sanyuka1.jpg" >
              </button>
            </ion-avatar>
            <h2>Kampala accident</h2>

            <h3 style="font-size:10px;font-family:futura-pt, sans-serif;font-style: regular;font-weight: 500;">more title | another here | other info</h3>
              <p>Theres has been a road accident in kamapala..</p>
          </ion-item>

          <!-- <img src="assets/img/badu-live.png"> -->




          <hr>
          <ion-row>
            <ion-col col-5>
              <button ion-button icon-left clear small>
                <ion-icon name="calendar"></ion-icon>
                <div>Published:</div>
              </button>
            </ion-col>

            <ion-col col-5>
              <button ion-button icon-left clear small>
                <ion-icon name="clock"></ion-icon>

                <div>Updated:</div>
              </button>

            </ion-col>

            <ion-col col-2>
              <button ion-button icon-left clear small>
                <ion-icon name="share"></ion-icon>
                </button>

            </ion-col>


          </ion-row>





        <!-- close test for feeds -->


      </ion-item>
      <ion-item   style="background-color:#efeaea;" >
        <!-- <ion-item *ngFor="let post of posts" style="background-color:#fbb99a;" > -->

        <!-- <img [src]="post.data.id" /> -->

        <!-- test for the feeds -->

          <ion-item style="background-color:#ebebeb;" text-wrap>
            <ion-avatar item-start>
              <!-- <img src="img/marty-avatar.png"> -->
              <!-- <button ion-button icon-only class="image"><ion-icon name="car"></ion-icon></button> -->
              <button ion-button icon-only class="image">
                <img src="assets/img/sanyuka1.jpg" >
              </button>
            </ion-avatar>
            <h2>Kampala accident</h2>

            <h3 style="font-size:10px;font-family:futura-pt, sans-serif;font-style: regular;font-weight: 500;">more title | another here | other info</h3>
              <p>Theres has been a road accident in kamapala..</p>
          </ion-item>

          <!-- <img src="assets/img/badu-live.png"> -->




          <hr>
          <ion-row>
            <ion-col col-5>
              <button ion-button icon-left clear small>
                <ion-icon name="calendar"></ion-icon>
                <div>Published:</div>
              </button>
            </ion-col>

            <ion-col col-5>
              <button ion-button icon-left clear small>
                <ion-icon name="clock"></ion-icon>

                <div>Updated:</div>
              </button>

            </ion-col>

            <ion-col col-2>
              <button ion-button icon-left clear small>
                <ion-icon name="share"></ion-icon>
                </button>

            </ion-col>


          </ion-row>





        <!-- close test for feeds -->


      </ion-item>

    </ion-list>

</ion-content>
